<launch>
 <param name="root_frame" value="world" />
 <param name="child_frame" value="odom" />
 
 <param name="latitude_reference" value="45.477669461666665" />
 <param name="longitude_reference" value="9.22674018" />
 <param name="altitude_reference" value="169.039" />

 
 <node pkg="first_project" name="gps_to_odom" type="gps_to_odom"/>

    <group>
        <node pkg="first_project" name="wheel_odom_to_tf" type="odom_to_tf">
            <param name="child_frame" value="wheel_odom" />
            <remap from="input_odom" to="odom" />

        </node>
        
    </group>

    <group>
        <node pkg="first_project" name="odom_to_tf" type="odom_to_tf">
            <param name="child_frame" value="gps_odom" />
            <remap from="input_odom" to="gps_odom" />

        </node>
        
    </group>
    
    
</launch>
